@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
 
}

.cabecalho {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 15px;            
  box-shadow: 0 0 15px rgb(59, 58, 58);
  border-radius: 10px;
  background-color:#EAA301;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo_img {
  border-radius: 50%;
}


.title {
  display: flex;
  font-size: 40px;
  align-items: center;
  margin: 5px;
}

.main_menu { 
  gap: 40px;
  margin: 20px;
  display: flex;  
}

.iten_menu {
  list-style: none;  
  margin: 10px;
  padding: 15px 45px;
  text-transform: uppercase;            
  box-shadow: 0 0 15px rgb(59, 58, 58);
  border-radius: 10px;
  background-color:#EAA301;
  cursor: pointer; 
}
  
.link_menu {
  text-decoration: none;
  color: #000000;
  font-size: 20px; 
}

.background_img {
  width: 100%;
  height: 100%;
}

.main_title {
  padding-left: 40px;
  color: darkgreen;
  margin-top: 20px;
  font-family: 'Dosis' ,Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.main_body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;  
}

.card {
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  background-color: bisque;
  box-shadow: 0 0 25px rgb(138, 135, 135);
  transition: 0.4s;
  gap: 15px; 
}

.card:hover {
  transform: scale(1.07);
}

.background_card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.title_card {
  font-size: 20px;

}

.description {
  text-align: center;
  margin: 5px;

}

.video_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.video_title {
  text-align: center;
  margin-top: 50px;
  font-family: 'Dosis' ,Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: darkgreen;
}

.video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.video_source {
  height: 80%;
  width: 80%; 
}

footer {
  background-color: bisque;
}

.logo_img_footer {
  border-radius: 50%;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.link_title {
  text-align: center;
  color: #000000;
  font-size: 20px;
}

.link_img {
  text-decoration: none;
}

.link_img img {
  justify-content: center;
  border-radius: 50%;
  height: 150px;

}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.prefeitura {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 980px) {

    .cabecalho {
      height: auto;
    }

    .main_menu {
      display:flex;
      flex-direction: column;
      gap: 1px
    }

    .contacts {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      flex-direction: row;
    }

    .menu_footer {
      display: flex;
      flex-direction: column;
      justify-content:end
    }
    
    .menu_footer {
      width: 50%;
    }

    .copy {
      text-align: center;
    }

    .video_container {
      height: 450px;
    }
}

@media (max-width: 570px) {

  .cabecalho {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin:0;
    margin-top: 10px;  
  }

  .video_container {
    height: 350px;
  }

  .menu_footer {
    width: 100%;
  }

  .iten_menu {
    margin: 0;
    padding: 0;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
  
  .contacts {
    display: flex;
    justify-content: space-around;

  }

}

















