@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif; 
}


header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,5,1) 34%, rgba(0,212,255,1) 100%);
  
}

body {
  background-color: #16A085;
  background-image: linear-gradient(132deg, #16A085 0%, #F4D03F 1%, #000000 5%, #ffffff 100%);

}


.cabecalho {
  height: 130px;
  margin-bottom: 20px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 15px 5px #000000;
}

.logo {
  display: flex;
  gap: 15px;            
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo_img {
  border-radius: 50%;
}


.title {
  display: flex;
  font-size: 40px;
  align-items: center;
  margin: 5px;
  color: #fff;

}

.title:hover {
  padding-left: 70px;
  transition: 1.2s;
  cursor: pointer;
  color: #FAD961;
}

.main_menu { 
  gap: 40px;
  margin: 20px;
  display: flex;  
}

.iten_menu {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.8s;
  background-size: 200% auto;          
  border-radius: 10px;
  list-style: none;           
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)
}


.iten_menu:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 0px 5px 5px #000000;
  transform: scale(1.1);
}

.link_menu {
  text-decoration: none;
  font-size: 20px; 
  color: #fff;
}

.background_img {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px 5px #000000;
}


.main_title {
  padding-left: 40px;
  color: #fff;
  margin-top: 20px;
  font-family: 'Dosis' ,Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.main_title:hover {
  color: #FAD961;
  transition: 0.7s;
  cursor: pointer;
}

.main_body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;  
}

.card {
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  transition: 0.7s;
  gap: 15px; 
}

.card:hover {
  transform: scale(1.09);
  cursor: pointer;

}

.background_card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.title_card {
  font-size: 20px;

}

.description {
  text-align: center;
  margin: 5px;

}

.video_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.video_title {
  text-align: center;
  margin-top: 50px;
  font-family: 'Dosis' ,Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: #fff;
}

.video_title:hover {
  color: #FAD961;
  transition: 0.7s;
  cursor: pointer;
}


.video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.video_source {
  height: 80%;
  width: 80%; 
}

footer {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,5,1) 34%, rgba(0,212,255,1) 100%);
  box-shadow: 5px 5px 30px 20px #000000;
}


.logo_img_footer {
  border-radius: 50%;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  align-items: center;
}

.footer_response {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.link_title {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.link_img {
  text-decoration: none;
}

.link_img img {
  justify-content: center;
  border-radius: 50%;
  height: 150px;
}

.links:hover {
  transform: scale(1.06);
  transition: 0.6s;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.prefeitura {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu_footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

@media (max-width: 980px) {

    .cabecalho {
      height: auto;
    }

    .main_menu {
      display:flex;
      flex-direction: column;
      gap: 1px
    }

    .contacts {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      flex-direction: row;
      justify-content: center;
    }

    .menu_footer {
      display: flex;
      flex-direction: column;
      justify-content:end;
      width: 70%;
      text-align: center;
    }
    
    .menu_footer {
      
    }

    .copy {
      text-align: center;
    }

    .video_container {
      height: 450px;
    }
}

@media (max-width: 570px) {

  .cabecalho {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin:0;
    margin-top: 10px;  
  }

  .title:hover {
    transition: 1.2s;
    cursor: pointer;
    color: #FAD961;

  }

  .video_container {
    height: 350px;
  }

  .menu_footer {
    width: 80%;
  }

  .iten_menu {
    margin: 0;
    padding: 0;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
  
  .contacts {
    display: flex;
    justify-content: space-around;
  }

  .footer_response {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .link_menu {
    font-size: 100%;
  }

}

 